
body,html{
    
    margin:0 auto;
    text-align: center;
}
.gender .genderbox {
    position: relative;
    margin: 30px 15px 10px 15px;
    background-color: rgba(163, 163, 163, 0.13);
    display: inline-block;
    height: 40px;
    width: 150px;
    border-radius: 25px;
}

.genderbox .icon{
    position: absolute;
    margin: auto;
    height: 30px;
    width: 30px;
    left: 50px;
    top: 2px;
    right: 5px;
    bottom: 5px;
}

.genderbox.female .icon.off{
    background-image: url("../img/female_off.png");
    background-size: cover;
}

.genderbox.male .icon.off{
    background-image: url("../img/male_off.png");
    background-size: cover;
}

.genderbox.female .icon.on{
    background-image: url("../img/female_on.png");
    background-size: cover;
}

.genderbox.male .icon.on{
    background-image: url("../img/male_on.png");
    background-size: cover;
}
.hide {
    display: none;
}


@-webkit-keyframes circle {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes circle {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes circle {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes circle {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.web_circle .circle {
    -webkit-animation: circle 4s linear infinite;
    -moz-animation: circle 4s linear infinite;
    -o-animation: circle 4s linear infinite;
    animation: circle 4s linear infinite;
}

.web_circle span {
    position: relative;
    bottom: 65px;
    /*color:#31066f;*/
    color:red;
    background-image: url(./assets/LOGO.png);
    font-size: 16px;
    font-weight: bolder;
    line-height: 20px;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #15c5f9, 0 0 70px #15c5f9, 0 0 80px #15c5f9, 0 0 100px #15c5f9, 0 0 150px #15c5f9;
}

.web_circle {
    position: fixed;
    right: 50px;
    top: 20px;
    text-align: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #CDCDCD, 0 0 35px #CDCDCD, 0 0 40px #CDCDCD, 0 0 50px #CDCDCD, 0 0 75px #CDCDCD;					
}

.circle {
    margin-top:2px;
    width: 80px;
    height: 80px;
}
 #ahover:hover{
    cursor: pointer;
  }
   
.popup {
    overflow: hidden;
    z-index: 999;
    background-color: white;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 400px;
    margin: auto;
    text-align: center;
}
.popup img{
    width: 200px;
    height:150px;
}
.popup .close {
    float: right;
    width: 17px;
    height: 17px;
    padding: 10px;
}

.popup .pop_title {
    width: 100%;
    margin-top: 37px;
    font-size: 30px;
}

.popup .pop_neck {
    width: 100%;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
}

.popup .pop_list {
    width: 100%;
    height: 270px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup .pop_list list2 {
    background-color: white;
    width: 170px;
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    border: solid 2px rgb(102, 102, 102);
    border-radius: 25px;
    margin: 10px 0;
}

.popup .pop_list list2.active {
    background-color: rgb(26, 188, 156);
    border: solid 2px rgb(26, 188, 156);
    color: white;
}
.container{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
.container.background{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-size: cover;
}

.done{
    white-space: nowrap;
    width: 250px;
    height: 350px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.done .success img{
    width:47px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 5px;
}

.done .success div{
    font-size: 31px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.done .success+div{
    font-size:18px;
    margin-top: 80px;
    line-height: 43px;
}

.footer{
    white-space: nowrap;
    vertical-align: middle;
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    right: 0;
    bottom: 33px;
    margin: auto;
    width: 175px;
    height: 20px;
    line-height: 20px;
    text-align: center;
}