<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/unnamed.webp">
    <link rel="apple-touch-icon" href="img/unnamed.webp">
    <link rel="shortcut" href="img/unnamed.webp">
    <!-- Bootstrap5核心CSS文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <title>很喜欢一句话,啊?</title>
</head>

<body>
    <!-- 标题栏 -->
    <div class="container-fluid">
        <div class="card bg-info text-white text-center">
            <h1 class="display-3">502 Bad Gateway</h1>
        </div>
    </div>

    <!-- 错误信息 -->
    <div class="container-fluid text-center">
        <div class="row">
            <div class="col-7 d-flex flex-column justify-content-center">
                <div class="row p-2">
                    <h1 class="display-1">啊?</h1>
                </div>
                <div class="row p-2">
                    <h2>为什么访问这个网页会502呢?</h2>
                </div>
            </div>
            <div class="col-4 d-flex flex-column justify-content-center"><img
                    class="p-3 rounded img-fluid mx-auto d-block" src="https://404.geministar.site/img/seele_what.jpg">
            </div>
            <div class="col-1"></div>
        </div>
    </div>

    <!-- 解决提示 -->
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4 d-flex flex-column justify-content-center"><img class="img-fluid float-end"
                    src="https://404.geministar.site/img/seele_not_kown.jpg">
            </div>
            <div class="col text-center d-flex flex-column justify-content-center">
                <h4 class="p-5">大概是服务器太逊了,或者正在维护中</h4>
                <h4 class="p-3">稍后再访问,或尝试ctrl+f5快捷键从服务器端刷新</h4>
            </div>
        </div>
    </div>

    <!-- 备案悬挂 -->
    <div class="container text-center" id="record">
        <a href="https://beian.miit.gov.cn/" target="_blank">浙ICP备2023018825号</a>
    </div>

    <!-- popper用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- Bootstrap5核心JavaScript文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>

</html>